<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="<?php echo $this->Html->url(array('plugin' => null,'controller' => 'homse','action' => '/index')); ?>"><?php echo __('Accueil');?></a></li>
			<?php echo $this->Form->input('id',array('type'=>'hidden')); ?>
			<!-- <li><span><?php echo __('Recrutement');?></span></li>
			<li><span><?php echo __('Missions');?></span></li> -->
			<li class="active"><span><?php echo __('Editer');?></span></li>
		</ol>
									
		<h1><?php echo __('Modifier une classe');?><small></small></h1>
	</div>
</div>






<!--<?php echo $this->Form->create('Classs',array('url'=> array(
                                                 'controller' => 'classses','action' => 'edit'
                                                  ))); ?>-->
<?php echo $this->Form->input('id',array('type'=>'hidden')); ?>
<?php echo __('ggggggg de la classe'); ?>

<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><?php echo __('Informations classe'); ?></h4>
				</div>

				<div class="modal-body">

						<div class="form-group">
							<label><?php echo __('Nom de la classe'); ?> *</label>
							<?php echo $this->Form->input('libelle',array('class'=>'form-control','div'=>false,'placeholder'=>__('Nom de la classe'),'label'=>false,'data-parsley-required'=>true,'data-parsley-group'=>'block1', 'data-parsley-error-message' =>__('Ce champ est requis')));?>
						</div>
						<div class="form-group">
									    <label><?php echo __('Niveau de la classe'); ?> <font size="ont-size: 2em" color="#e51c23">*</font></label>
				                                             <?php echo $this->Form->select('level_id',$levels,array('class'=>'form-control','required'=>'required','id'=>'sel2','data-parsley-required'=>true,'data-parsley-group'=>'block1', 'data-parsley-error-message' => __('Ce champ est requis')));?>
						</div>
						<div class="form-group">
							<label><?php echo __('Capacité de la classe'); ?> *</label>
							<?php echo $this->Form->input('capacite',array('class'=>'form-control','div'=>false,'placeholder'=>__('Capacité de la classe'),'label'=>false,'data-parsley-required'=>true,'data-parsley-group'=>'block1', 'data-parsley-error-message' =>__('Ce champ est requis')));?>
						</div>
				        
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><?php echo __('Fermer'); ?></button>
					<button type="submit" class="btn btn-primary"><?php echo __('Sauvegarder'); ?></button>
				</div>
				
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		<?php echo $this->Form->end(); ?>
		<?php echo debug('$id');die(); ?>
		
		