<div class="alert alert-danger fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<i class="fa fa-times-circle fa-fw fa-lg"></i>
	<strong><?php echo $message; ?></strong>
</div>