	<div class="row-fluid">
						<div class="span12">
							
							<div class="alert">
								<a class="close" data-dismiss="alert">×</a>
								<strong><?php echo $message; ?></strong>
							</div>
						</div>
					</div>