<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <!-- <li><a href="<?php echo $this->Html->url(array('plugin' => null,'controller' => 'candidatures','action' => '/dashboard')); ?>"><?php echo __('Accueil');?></a></li> -->
      <li class="active"><span><?php echo __('Tableaux de Bord en cours de construction'); ?></span></li>
    </ol>
                  
    <h1><?php echo __('Tableaux de Bord');?><small></small></h1>
  </div>
</div>
