<div class="email-nav-nano-content">
							
							
                                    <img src="<?p*/hp echo $this->webroot.'app/webroot/imgparametrage.png'; ?>" class="profile-img img-responsive center-block" style="max-height: 140px; min-height: 140px; max-width: 140px;    min-width: 140px; border-radius: 10px; margin-bottom: 5px;" />
                                

								<div class="profile-label" style="text-align:center">
									<span class="label label-danger">
										<?php echo "Hassan Ben"//$this->request->data['User']['firstname'].' '.$this->request->data['User']['lastname']; ?>
									</span>
								</div>	<br>			
							<ul id="email-nav-items" class="clearfix">
								<li>
									<a href="#">
										<i class="fa fa-user"></i>
										<?php echo  __('Informations Employé'); ?> 
									</a>
								</li>
								<li class="<?php echo ((($this->params['controller']==='anneesscollaires') && ($this->params['action']=='index')))?'active' :'' ?>">
										<a href="<?php echo $this->Html->url(array('controller' => 'anneesscollaires','action' => '/index')); ?>">
											<i class="fa fa-dashboard"></i>
											<span><?php echo __('Géneral');?></span>
										</a>
									</li>
								
									</ul>
						</div>
											
					</div>