<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Connexion | Gestion Ecole</title>
    
        <!-- Bootstrap framework -->
            <link rel="stylesheet" href="<?php echo $this->webroot;?>bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="<?php echo $this->webroot;?>bootstrap/css/bootstrap-responsive.min.css" />
        <!-- theme color-->
            <link rel="stylesheet" href="<?php echo $this->webroot;?>css/blue.css" />
        <!-- tooltip -->    
			<link rel="stylesheet" href="<?php echo $this->webroot;?>lib/qtip2/jquery.qtip.min.css" />
        <!-- main styles -->
            <link rel="stylesheet" href="<?php echo $this->webroot;?>css/style.css" />
    
        <!-- Favicons and the like (avoid using transparent .png) -->
            <link rel="shortcut icon" href="<?php echo $this->webroot;?>favicon.ico" />
            <link rel="apple-touch-icon-precomposed" href="<?php echo $this->webroot;?>icon.png" />
    
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    
        <!--[if lte IE 8]>
            <script src="js/ie/html5.js"></script>
			<script src="js/ie/respond.min.js"></script>
        <![endif]-->
		
    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  -->
<style type="text/css">
    .sidebar_hidden {
  background: rgb(237, 240, 240) !important;
}
</style>
</head>
    <body class="login_page sidebar_hidden full_width gebo-fixed">
		<header>
               <?php echo  $this->element('admin/header_404'); ?>
            
        </header>
		<?php echo $content_for_layout; ?>
 
        
        <script src="<?php echo $this->webroot;?>js/jquery.min.js"></script>
        <script src="<?php echo $this->webroot;?>js/jquery.actual.min.js"></script>
        <script src="<?php echo $this->webroot;?>lib/validation/jquery.validate.min.js"></script>
		<script src="<?php echo $this->webroot;?>bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                
				//* boxes animation
				form_wrapper = $('.login_box');
                $('.linkform a,.link_reg a').on('click',function(e){
					var target	= $(this).attr('href'),
						target_height = $(target).actual('height');
					$(form_wrapper).css({
						'height'		: form_wrapper.height()
					});	
					$(form_wrapper.find('form:visible')).fadeOut(400,function(){
						form_wrapper.stop().animate({
                            height	: target_height
                        },500,function(){
                            $(target).fadeIn(400);
                            $('.links_btm .linkform').toggle();
							$(form_wrapper).css({
								'height'		: ''
							});	
                        });
					});
					e.preventDefault();
				});
				
				//* validation
				$('#login_form').validate({
					onkeyup: false,
					errorClass: 'error',
					validClass: 'valid',
					rules: {
						email: { required: true, minlength: 3 },
						password: { required: true, minlength: 3 }
					},
					highlight: function(element) {
						$(element).closest('div').addClass("f_error");
					},
					unhighlight: function(element) {
						$(element).closest('div').removeClass("f_error");
					},
					errorPlacement: function(error, element) {
						$(element).closest('div').append(error);
					}
				});
            });
        </script>
    </body>
</html>
