<div class="row">
				<div class="col-lg-12">
					<header id="email-header" class="clearfix">
						<ol class="breadcrumb">
							<li><a href="<?php echo $this->Html->url(array('plugin' => null,'controller' => 'candidatures','action' => '/dashboard')); ?>"><?php echo __('Accueil');?></a></li>
							<li><span><?php echo __('ADMIN');?></span></li>
							<li><span><?php echo __('Paramétrages');?></span></li>

						</ol>

					</header>
					<!-- Bouton execution modal -->
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Lancer la modal
</button> -->
<!-- Modal -->
<div class="modal fade" id="myModalq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
						Exemple de modal

				</div>
			</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
					<!-- <body>
						<div id="fond"></div>
      <a href="#" id="show">Afficher la fenetre modale</a>
      <script src="modal.js" type="text/javascript"></script>
     <div id="modal" class="popup"></div>
					</body>
				</div>
			</div> -->
			
			<!--  /*<div class="glass-pill"><input type="text" value="" id="Update"></div>*/-->
        
        <div class="row" >

				<?php echo $this->Form->create('Anneesscollaire',array('url'=> array(
                                            'controller' => 'anneesscollaires','action' => 'edit_annee_defaut'
                                                  ))
                                                  ) 
                                                  ;?>
                <?php echo $this->Form->input('id', array('id'=>'id','type'=>'hidden'));?>
                <?php //echo $this->Form->input('idm', array('id'=>'idm','type'=>'hidden'));?>
						<div class="col-lg-6">
							
							<h3><span><?php echo __('Géneral'); ?></span></h3>

								<div class="form-group">
									<label><?php echo __('Année scollaire par defaut'); ?> <span class="f_req"></span></label>
										
								<?php  echo $this->Form->input(__('Année scollaire'), array(
                              	'class' => 'form-control  ch_filtrer filtrer','required' => false,
										  'options' => array($annees),
										  //'empty'=>$options,
										  'value'=> $ida
										  ));?>  
								</div>
		<div class="form-group">
									
			<h3><span><?php echo __('Mois de l\'année scollaire'); ?></span></h3>					
									
				<?php /*echo $this->Form->input(__('Janvier'),array(
                        'class' => 'form-control  ch_filtrerMJ filtrer','type'=>'checkbox','required' => 'false','checked'=>$idm[1]))*/

						foreach ($mois as $k => $moi) {
								if($moi['Moi']['checked']==1){
									$chek='checked';
								}else{
									$chek='false';
						}
								//echo "<input type='checkbox' checked='".$chek."' name='data[Anneesscollaire][Mois][".$moi['Moi']['id']."][]' ></input><br>";
								?>
						<div class="checkbox-nice">
							<div class="col-lg-3">
								
						    <?php
						    $lab=" ";
						   switch ($moi['Moi']['mois']) {
								case 'janvier':   $lab= '&nbsp;&nbsp;&nbsp;'.__('Janvier');
							}
						    //$lab="-".$moi['Moi']['mois'];'&nbsp;&nbsp;&nbsp;'.
								echo $this->Form->input($moi['Moi']['mois']
									,array(
                       			 'class' => 'form-control ','type'=>'checkbox','required' => 'false','label'=>'&nbsp;&nbsp;&nbsp;'.ucfirst($moi['Moi']['mois']),'checked'=>$moi['Moi']['checked'],'name'=>'data[Anneesscollaire][Mois]['.$moi['Moi']['id'].'][]'));

							?>

							</div>
						</div>
						<?php						
							   }
                    	?>


								
		</div>
			
	</div>

			<!--</div>	-->				
		<div class="col-lg-12">	
			 <div class="form-group">
				<h3><span><?php echo __('Jours de la semaine scollaire'); ?></span></h3>
				 <?php /*echo $this->Form->input(__('Janvier'),array(
                        'class' => 'form-control  ch_filtrerMJ filtrer','type'=>'checkbox','required' => 'false','checked'=>$idm[1]))*/

								

							foreach ($jours as $k => $moi) {
								if($moi['Jour']['checked']==1){
									$chek='checked';
								}else{
									$chek='false';
								}
								//echo "<input type='checkbox' checked='".$chek."' name='data[Anneesscollaire][Mois][".$moi['Moi']['id']."][]' ></input><br>";
								?>
						<div class="checkbox-nice">
							<div class="col-lg-3">
								
						    <?php
						    
						   $lab=ucfirst($moi['Jour']['jours']); 
						 // echo $lab;
						       //;'&nbsp;&nbsp;&nbsp;'.
								echo $this->Form->input($moi['Jour']['jours'],array(
                       			 'class' => 'form-controlJ ','type'=>'checkbox','required' => 'false','label'=>'&nbsp;&nbsp;&nbsp;'.ucfirst($moi['Jour']['jours']),'checked'=>$moi['Jour']['checked'],'name'=>'data[Anneesscollaire][Jours]['.$moi['Jour']['id'].'][]'));

							?>

							</div>
						</div>
							<?php						
							   }
                    	      ?>

				
			</div> 
			</div> 
			<div class="form-group">
					
							
				<div class="col-lg-12">
					<h3><span><?php echo __('Horaire de la semaine scollaire'); ?></span></h3>
					<div class="col-lg-3">	
							<h1><?php echo __('Matinée'); ?></h1>				
						<div class="form-group" style='text-align:center'>
								<label><?php echo __('Horaire '); ?></label>
								<div class="form-group" id="liste1" href="">
									<select multiple class="form-control modalEd"  style='text-align:center' >
									<?php
										foreach ($horairesM as $hk => $horair) {
											$du=  substr($horair['Horaire']['du'], 0, 5);
											$au=  substr($horair['Horaire']['au'], 0, 5);
											?><option><?php echo $du.'&nbsp;&nbsp;&nbsp;'.$au ?></option>
											<?php
									
										}	
									?>			
									</select>
								</div>
						</div>
					</div>

					<div class="col-lg-3">	
							<h1><?php echo __('Après-midi'); ?></h1>				
						<div class="form-group">
								<label><?php echo __('Horaire '); ?></label>
								<div class="form-group">
									<select multiple class="form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
									</select>
								</div>
						</div>
					</div>
					<div class="col-lg-3">	
							<h1><?php echo __('Soirie'); ?></h1>				
						<div class="form-group">
								<label><?php echo __('Horaire '); ?></label>
								<div class="form-group">
												<select multiple class="form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
												</select>
								</div>
						</div>
					</div>
				</div>


						</div>

				    <div class="col-lg-12" style="text-align:right">
					<a class="btn btn-danger btn-lg" href="<?php echo $this->Html->url(array('controller' => 'parametrages','action' => 'index')); ?>"><?php echo __('FERMER'); ?></a>
					 
					<button type="submit" data-loading-text="Loading..." class="btn btn-primary btn-lg" id="btn-loading-demo" ><?php echo __('ENREGISTRER'); ?>
					</button>

				</div>
</div>					
		<?php echo $this->Form->end(); ?>
		
		 

  
<!-- <div class="modal" id="myModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-body">
				<div class="table-responsive xtable">
</div>
</div>
</div> -->

 <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<script  type="text/javascript">
			alert("editdoc");

			$(document).ready(function(){

				$(".ch_filtrer").change(function(){
				//alert("eq");
			     var q=$(this).val();
			    // alert(q);
			      document.getElementById("id").value =q;
			      //$idp=q; 	 
			    // $(document).elements["text"].value="NOUVEAU"
                 });
				$(".ch_filtrerMJ").change(function(){
				//alert("eq");
			     var qm=$(this).val();
			    // alert(q);
			      document.getElementById("idm").value =qm;
			      //$idp=q; 	 
			   
                 }); 
				$("#liste1").on('click', function(){
						// var url=$(this).attr('href'); 
						 var url = '<?php echo Router::url(array('controller'=>'anneesscollaires','action'=>'index_h')) ?>';
	           			 $.get(url, function(data) 
	            			{
	            				//alert(url);
	           				   $("#myModal").html(data);
	            			   $("#myModal").modal();
	           				});
	      					return false;		   
                 });
  
     		});

    /*$('#myModal').on('show.bs.modal', function (event) {
  		 var modal = $(this);
  		// alert(modal);
  		document.getElementById('editheure').style.display = "none";
  		 $(".modal").on('click', function(){
   				//var button = $(event.relatedTarget);
   				//alert("button");
				//alert("bouton");			
				//$('#modalEdit').modal('show')
     		});
 
	});*/
/*   $('#myModal').on('shown.bs.modal', function (event) {

   var modal = $(this);
  // alert(modal);
   //alert("afficher");
   
   $("#bt").on('click', function(){
   	
				//alert("boutondd");
				hideThis('editheure');
				//$('#myModal').modal('show');
				id=null;

     		}); 
   
   
   $("#delete").on('click', function(){
				alert("dd");
				var name=$("#delete").attr('name');
				var obj = document.getElementById("delete");
				alert(name);
				
			     // $('#myModal').modal('show');
			      //$idp=q; 	 
			 alert($("#delete").val());
			 if(window.confirm("Etes-vous sûr que vous voulez supprimer ")){
                //if confirmed, submit the form
               callCrudAction("delete",name);
               var url = '<?php echo Router::url(array('controller'=>'anneesscollaires','action'=>'crud_action')) ?>/0/0/0/0/0';
                alert("-x");
                $.get(url, function(data) {
					$(".xtable").html(data);
					//alert("Data: " + data);
					alert("x");
				});
                //$('#myModal').modal('show');
                //$('#myModal, a.close').remove(); 
                //$('#myModal').modal('show');

	      	return false;
     		
            }else{
                //cancel logic here
            }
                 });
});*/

   /*function hideThis(_div){
  // 	alert("hide");
    var obj = document.getElementById(_div);
    if(obj.style.display == "block")
        obj.style.display = "none";
    else
        obj.style.display = "block";
}*/

/*function callCrudAction(action,id) {
	//$("#loaderIcon").show();
//alert($('#myModal').attr('action'));
	var queryString;
	var du;
	var au;
	var periode;
if(action=="add"){
	du= $("#txtdu").val();
	au= $("#txtau").val();
	periode= $("#txtp").val();
    id=$("#delete").attr('name');
}
if(action=="delete"){
   	alert("test");
   	du= "0";
	au= "0";
	periode="0";
}
	alert("ajax"+id+action+du);
        $.ajax({
            dataType: "html",
            type: "POST",
            //evalScripts: true,
            url: '<?php echo Router::url(array('controller'=>'anneesscollaires','action'=>'crud_action'));?>'+'/'+du+'/'+au+'/'+periode+'/'+action+'/'+id,
            data: ({du:du,au:au,periode:periode}),
            success: function (data, textStatus){
            	document.getElementById('editheure').style.display = "none";
               $("#frmAdd").html(data);
				return false;
            }
            

        });
	//$('#myModal').modal('show');
}*/
   
	</script>



