
<div class="main-box-body clearfix">
	<div class="tabs-wrapper">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab-Mat" data-toggle="tab"><?php echo __('Matiers');?></a></li>
			<li><a href="#tab-help" data-toggle="tab"><?php echo __('Expériences');?></a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<?php echo __('Documents');?> <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#tab-action" data-toggle="tab">Action</a></li>
					<li><a href="#tab-another-action" data-toggle="tab">Another action</a></li>
					<li><a href="#tab-something-else-here" data-toggle="tab">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#tab-separated-link" data-toggle="tab">Separated link</a></li>
				</ul>
			</li>
		</ul>
												
		<div class="tab-content">
			<div class="tab-pane fade in active" id="tab-Mat">
				kjhjhjhjhhjk
			</div>
			<div class="tab-pane fade" id="tab-help">
				Besides, I've already been through too much shit this morning over this case to hand 
				it over to your dumb ass.
			</div>
			<div class="tab-pane fade" id="tab-action">
				Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!
			</div>
			<div class="tab-pane fade" id="tab-another-action">
				In a comic, you know how you can tell who the arch-villain's going to be?
			</div>
			<div class="tab-pane fade" id="tab-something-else-here">
				He's the exact opposite of the hero. And most times they're friends, like you and me! 
			</div>
			<div class="tab-pane fade" id="tab-separated-link">
				I should've known way back when... You know why, David? Because of the kids. 
				They called me Mr Glass.
			</div>
		</div>
	</div>
	</div>
											
</div>