 <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="brand" href="#"><i class="icon-home icon-white"></i> <?php echo __('RH QUEBEC'); ?></a>
                          
                            <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                                <span class="icon-align-justify icon-white"></span>
                            </a>
                             <!-- <ul class="nav user_menu pull-right">
                                
                                <li class="divider-vertical hidden-phone hidden-tablet"></li>
                                <li>
                                   
                                        <?php  echo $this->Html->link('Français', array_merge(array('language'=>'fre'),array_values($this->params['pass']))); ?>
                                      <?php //echo __('Français'); ?></b>
                                    
                                </li>
                                <li class="divider-vertical hidden-phone hidden-tablet"></li>
                                <li>
                                    <?php  echo $this->Html->link('English', array_merge(array('language'=>'eng'),array_values($this->params['pass']))); ?>
                                </li>
                                <li class="divider-vertical hidden-phone hidden-tablet"></li>
                                <li class="dropdown">
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php //echo AuthComponent::user('username'); ?><b class="caret"></b></a>-->
                                    <ul class="dropdown-menu">
                                        <!--<li><a href="user_profile.html"><?php echo __('Mon profile');?></a></li>
                                          <li>
                                                    <a href="#"><?php //echo __('Informations entreprise');?>
                                                    </a>
                                                </li>
                                                
                                        <li>
                                            <a href="<?php //echo $this->Html->url(array('plugin' => 'users','controller' => 'users','action' => 'change_password')); ?>"><?php //echo __('Changer mot de passe');?>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="<?php echo $this->Html->url(array('plugin' => 'users','controller' => 'users','action' => 'logout')); ?>"><?php echo __('Déconnexion');?>
                                            </a>
                                        </li>-->
                                    </ul>
                                </li>
                            </ul> -->
                            <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                                <span class="icon-align-justify icon-white"></span>
                            </a>
                            <nav>
                            
                            </nav>
                        </div>
                    </div>
                </div>