<!-- <div class="users form">
<?php echo $this->Flash->render('auth'); ?>
<?php echo $this->Form->create('User'); ?>
    <fieldset>
        <legend>
            <?php echo __('Please enter your username and password'); ?>
        </legend>
        <?php echo $this->Form->input('username');
        echo $this->Form->input('password');
    ?>
    </fieldset>
<?php echo $this->Form->end(__('Login')); ?>
</div -->



<?php echo $this->Flash->render('auth'); ?>
<?php echo $this->Form->create('User'); ?>

                    <div class="row-fluid">
                        <div class="span3">
							&nbsp;
                        </div>
                        <div class="span6">
							
							
							
								<div class="formSep">
									<div class="row-fluid">
										<div class="span12">
											<label><?php echo __('Please enter your username and password'); ?><span class="f_req">*</span></label>
											<?php echo $this->Form->input('username',array('class'=>'span12','label'=> false, 'type' =>'text', 'placeholder'=>__('Entrer le username')));?>
										</div>
										
									</div>
								</div>
								<div class="formSep">
									<div class="row-fluid">
										<div class="span12">
											</span></label>
											<?php echo $this->Form->input('password',array('class'=>'span12','label'=> false, 'type' =>'password', 'placeholder'=>__('Entrer le mot de passe')));?>
										</div>
										
									</div>
								</div>

								<div class="form-actions">
									<button class="btn btn-success" type="submit"><?php echo __('Login'); ?></button>
									
								</div>
							
                        </div>
                         <div class="span3">
							&nbsp;
                        </div>

                    </div>